#add-success-alert,
#update-success-alert,
#delte-success-alert {
    display: none;
}

#add-success-alert,
#update-success-alert,
#delte-success-alert {
    animation-name: fadeInAndOut;
    animation-duration: 4s;
}

@-webkit-keyframes fadeInAndOut {
    0% {opacity: 0;}
    25% {opacity: 0.4;}
    65% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes fadeInAndOut {
    0% {opacity: 0;}
    25% {opacity: 0.4;}
    65% {opacity: 1;}
    100% {opacity: 0;}
}